@* Register our model for this view *@
@model PiesListViewModel

@*
    @model <class> - defines a model for this view
    @Model - actual passed model instance from the controller
*@


@*@ViewBag.CurrentCategory*@
<h1>@Model.CurrentCategory</h1>
@foreach (var pie in Model.Pies)
{
    // Use Html-helper to instantiate a partial view
    // pass Partial view name (must reside in Views/Shared folder) and model object (@model)
    @Html.Partial("PieOverviewSummary", pie)
}

@section scripts{

}